body {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  height: 60vh;
  background-color: black;
  color: goldenrod;
}
#bike-container {
  border: 1px solid rgba(240, 205, 10, 0.336);
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: inset;
}

.bike-card {
  position: relative;
  display: inline-block;
  margin: 10px;
}
.bike-card img {
  height: 50vh;
  max-width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50px;
}
.bike-card .bike-info {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(213, 230, 204, 0.836);
  padding: 5px;
  border-radius: 6px;
  font-size: 14px;
}
button {
  text-align: center;
  background-color: goldenrod;
  border: none;
  height: 50px;
  width: 80px;
  border-radius: 30%;
  text-align: center;
  margin: 20px;
  display: block;
  font-style: italic;
  font-weight: 700;
}
button:hover {
  background-color: rgb(188, 247, 24);
}
